* {
  box-sizing: border-box;
}

.a {
  position: relative;
  top: 30px;
  z-index: 10;
  border: 1px white dotted;
  color: white;
  border-radius: 10px;
}

.a1 {
  position: relative;
  top: 30px;
  z-index: 10;
  border-radius: 10px;
  width: 80px;
  height: 37px;
  background-color: white;
  border: 1px white dotted;
  color: white;
  align-items: center;
}

.a1 .git {
  position: relative;
  top: -10px;
  left: -5px;
}

.a1:hover {
  background-color: gray;
}

.a:hover {
  background-color: gray;
}
.git {
  position: relative;
  opacity: 1;
  width: 30px;
  height: 30px;
  left: 0px;
}
body {
  background-color: rgba(0, 0, 0, 0.7);
}
.git {
  position: relative;
  opacity: 1;
  width: 30px;
  height: 30px;
  left: 0px;
}

.git1 {
  position: relative;
  opacity: 1;
  background: none;
  border: none;
  width: 40px;
  top: -37px;
  left: -4px;
  height: 40px;
}

header {
  position: relative;
  align-items: center;
  margin-bottom: 5px;
}

button {
  position: relative;
  float: left;
  top: -60px;
  padding: 10px;

  margin: 10px;
  border: 1px dotted;
  background: none;
}
/* Create two equal columns that floats next to each other */
main {
  background-image: url("../Images/bacr.jpg");
  margin-top: 20px;

  background-size: cover;
}

h2 {
  background-color: rgb(20, 19, 19);
  padding: 30px;
  position: relative;
  color: white;

  text-align: center;
  font-family: monospace;
  font-weight: 600;
  font-size: 30px;
  margin: -8px;
}
.column {
  float: left;
  width: 20%;
  position: relative;
  left: 30px;

  margin: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  left: 0px;
  margin-left: 20%;
  top: -10px;
  position: relative;
  width: 300px;
  margin: 10px;
  height: 200px;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 20%;

  width: 300px;
  border-radius: 20px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

img {
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: 20%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  left: 0;
}

.title {
  position: absolute;
  width: 200px;
  left: 10px;
  top: 100px;
  font-weight: 500;
  font-size: 30px;
  margin-left: 20%;

  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}

.container:hover .title {
  top: -14px;
}

.button {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 7px;
  top: 130px;
  margin-left: 20%;
  text-align: center;
  opacity: 0;
  border-bottom-left-radius: 20px;
  transition: opacity 0.35s ease;
  background: none;
  color: white;

  border: 2px solid white;
}

.button1 {
  position: absolute;
  width: 140px;
  left: 152px;
  margin-left: 20%;
  height: 50px;
  top: 130px;
  text-align: center;
  opacity: 0;
  border-bottom-right-radius: 20px;
  transition: opacity 0.35s ease;
  background: none;
  color: white;

  border: 2px solid white;
  transition: opacity 0.35s ease;
}

.container:hover .button {
  opacity: 1;
}

.container:hover .button1 {
  opacity: 1;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.23);
}

.button1:hover {
  background-color: rgba(0, 0, 0, 0.23);
}
@media only screen and (max-width: 1200px) {
  h2 {
    position: relative;
    font-size: 20px;
  }
  .a {
    position: relative;
    top: 10px;
    z-index: 10;
    border: 1px white dotted;
    color: white;
    border-radius: 10px;
  }

  .a1 {
    position: relative;
    top: 60px;
    left: -80px;
    z-index: 10;
    border-radius: 10px;
    width: 60px;
    height: 37px;
    background-color: white;
    border: 1px white dotted;
    color: white;
    align-items: center;
  }

  .column {
    position: relative;
    left: 0;
    width: 300px;
    padding: 0;
    height: 200px; /* Should be removed. Only for demonstration */
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .overlay {
    position: relative;
    width: 300px;
    margin-left: 1%;
    height: 200px;
    left: 5px;
    top: -205px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 20px;
  }

  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
  }

  img {
    position: relative;
    width: 300px;
    height: 200px;
    left: 5px;
    margin-left: 1%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    align-items: center;
    justify-content: center;
  }

  .title {
    position: absolute;
    width: 200px;
    left: 5px;
    top: 100px;
    font-weight: 300;
    margin-left: 1%;

    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(231, 231, 231);
    z-index: 1;
    transition: top 0.5s ease;
  }

  .container:hover .title {
    top: -20px;
  }

  .button {
    position: absolute;
    width: 190px;
    left: 15px;
    top: 130px;

    text-align: center;
    margin-left: 1%;
    opacity: 0;
    border-bottom-left-radius: 20px;
    transition: opacity 0.35s ease;
    background: none;
    color: white;

    border: 2px solid white;
    transition: opacity 0.35s ease;
  }

  .button1 {
    position: absolute;
    width: 70px;
    left: 225px;
    top: 130px;
    text-align: center;
    opacity: 0;
    margin-left: 1%;
    border-bottom-right-radius: 20px;
    transition: opacity 0.35s ease;
    background: none;
    color: white;

    border: 2px solid white;
    transition: opacity 0.35s ease;
  }

  .container:hover .button {
    opacity: 1;
  }

  .container:hover .button1 {
    opacity: 1;
  }

  .git {
    position: relative;
    opacity: 1;
    width: 30px;
    height: 30px;
    left: 0px;
  }
}
