@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("baka.jpg");
}

main {
  width: 300px;
  height: 400px;
  background-color: rgba(143, 138, 138, 0.5);
  padding: 5px;

  position: absolute;
  font-family: "Nova Square", cursive;
  top: 0;
  bottom: 0;
  font-size: 15px;
  left: 10px;
  right: 10px;
  text-align: center;

  margin: auto;

  border-radius: 15px;
  box-shadow: -4px 0px 8px 16px #6b6961;

  /* hori verti blur spread color */
}

.input {
  width: 60%;
}

.input-box {
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px rgb(233, 233, 233) dotted;
  background: none;
}

.one {
  margin: 5px;
  padding: 5px;
  background-color: gray;
}

h4 {
  padding: 10px;
  text-align: center;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  height: 100px;
}

footer {
  position: absolute;
  top: 92%;
  height: 50px;
  background-color: grey;
  padding: 10px;
  text-align: center;
  width: 100%;
}

body {
  background: #ddd;
}

.content {
  padding: 10px;
  margin: -12px;
  font: 300 20px Lato, sans-serif;
  text-align: center;
  color: rgb(94, 22, 22);
  background: #eee;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.social {
  display: inline-block;

  font-family: Entypo;

  color: #bbb;
  border-radius: 10px;
  background: #eee;

  transition: color 0.3s;
}

.social:hover {
  color: #59d;
  background-color: gray;
  cursor: pointer;
}

.social {
  width: 80px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  margin: 10px;
  align-items: center;
  color: rgb(145, 139, 139);
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 1px 3px 4px 1px #7d7d7d;
}
