@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 60%;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    align-items: center;
    justify-content: center;
 
}

main
{
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player
{
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}




video
{position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.name{
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;


}

.score{

    font-size: 8rem;
    font-weight: 300;
    color: #c7365f ;
    margin-bottom: auto;
}

.player--active
{
    background-color:white
}

.player--active .name {
    font-weight: 700;
}

.player--active .score{
    font-weight: 400;
}

.player--active .current {
    opacity: 1;
}

.current{
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: white;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: white;

}

.current-score
{
    font-size: 3.5rem;
}





.btn::first-letter
{font-size: 2.4rem;
display: inline-block;
margin-right: 0.7rem;}


.newgame
{
    top: 4rem;
}


.roll
{
    top: 46rem;
}

.hold{

    top: 40rem;

}

.btn:active{
    transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
  }

  .dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    animation-name: none;
    animation-duration: 1s;
  }

  @keyframes diceanime
  {
  
    70%  {transform: translate(-50px) rotateZ(180deg)  }
    

   
  }



  .hide
  {
      visibility: hidden;
  }

 
  .winner1
  {
    background-color: #2f2f2f;
    color: bisque;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 5;
    position:absolute;
    font-family: inherit;
    font-size: 50px;
    left: 230px;
    padding: 20px;
    border-radius: 2cm;
    width: 500px;
    top: 200px;
  }

  

  .winner2
  {
    background-color: #2f2f2f;
    color: bisque;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 5;
    position:absolute;
    font-family: inherit;
    font-size: 50px;
    left: 230px;
    padding: 20px;
    border-radius: 2cm;
    width: 500px;
    top: 200px;
  }

  
   .btn
{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);


}


.btn{background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}


  .btn{

     background-size: 200% auto;
            
     
  
   }

   .btn:hover {
     background-position: right top; /* change the direction of the change here */
    
     text-decoration: none;
   }
  

   .btn:focus
   {
       background: none;
       border: 5px black;
   }

   .btn1
   {
       position: absolute;
       display: flex;
       transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

   }

   .play{
       top:20px;
       left: 50px;
   }

   
   .back{
    top:20px;
    left: 140px;
}

.yash{
    top:20px;
    left: 260px;
    padding: 7px;
}



.btn1:hover
{
    background-color: bisque;
}


.btn1:active{
    transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
 

.hidden
{
    display: none;
}
   
.exit
{
    background: none;
    border-radius: 10cm;
    font-size: 30px;
    margin: 12px;
    padding: 10px;
    z-index: 2;
}
.exit2
{
    background: none;
    border-radius: 10cm;
    font-size: 30px;
    margin: 12px;
    padding: 10px;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
   

  .hide
{
    display: none;

   
}

@media only screen and (max-width:850px)

{
    main
{
    position: relative;
    width: 30rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    
}
.player
{
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
    width: 5px;
    font-size: 1px;
}

.name
{
    font-size: 15px;
}

.current
{
    font-size: 5px;
    padding: 1px;
    float: left;
}

.newgame
{
    top: 50px;
    width: 90px;
    font-size: 1px;
    height: 40px;
    text-align: center;
    text-transform: lowercase;

}


.hold{
    top:100px;
    width: 90px;
    font-size: 1px;
    height: 40px;
    text-align: center;
    text-transform: lowercase;
}

.roll
{
    top:150px;
    width: 90px;
    font-size: 1px;
    height: 40px;
    text-align: center;
    text-transform: lowercase;
}

.dice
{
    width: 45px;
    height: 45px;
    top: 210px;
}

.score
{
    font-size: 30px;
}

.current-label
{
    font-size: 12px;
}

.winner1
{
    top:90px;
    left: 1px;
    width: 28rem;
    font-size: 20px;
    height: 70px;
    margin: 10px;
}

.winner2
{
    top:90px;
    left: 1px;
    width: 28rem;
    font-size: 20px;
    height: 70px;
    margin: 10px;
}
}
